#page_load {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 200vh;
  align-items: flex-start;
  background-color: black;
  z-index: 10;
  display: flex;
}

#page_load > div {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.load_img {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: cadetblue;
  justify-content: center;

  box-shadow: 0px 0px 20px 20px black inset;
}
.load_img img {
  width: 100%;
  opacity: 0%;
}
.load_img span {
  font-size: 50px;
  margin-right: 10px;
}
.load_img > div {
  display: flex;
  align-items: flex-end;
}
.load_img svg {
  margin: 20px 5px;
  transform: scale(80%);
  opacity: 0%;
  animation: loadingAnimation 2s ease-out infinite;
}
.load_img svg:nth-child(3) {
  animation-delay: 0.2s;
}
.load_img svg:nth-child(4) {
  animation-delay: 0.4s;
}
@keyframes loadingAnimation {
  20% {
    opacity: 100%;
    /* transform: scale(120%); */
  }
  80% {
    opacity: 0%;
  }
}
#load_img1 {
  width: fit-content;
  height: fit-content;
  /* background-image: url("../img/load/load_avengers3.gif");  */
}
#load_img2 {
  width: 50%;
  height: min-content;
  background-image: url("../img/load/load1.gif");
}
#load_img3 {
  width: 50%;
  height: min-content;
  background-image: url("../img/load/load3.gif");
}
#load_img4 {
  width: 50%;
  height: min-content;
  background-image: url("../img/load/load4.gif");
}
@media (max-width: 420px) {
  .load_img img {
    width: 100vw;
  }
  #load_img1 {
    background-image: url("../img/load/load_avengers2.gif");
  }
  #load_img1 img {
  }
  #load_img2 {
    width: 100%;
  }
  #load_img3 {
    width: 100%;
  }
  #load_img4 {
    width: 50%;
  }
}
