header > article {
  height: 50vh;
  padding: 100px;
  padding-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-image: url("../img/universe.png");
  background-position: center;
  background-size: cover;

  box-shadow: 0 -10px 10px 10px black inset;
}

article img {
  width: 40vw;
  opacity: 0%;
  cursor: pointer;
}

.logo_opacity_100 {
  opacity: 100%;
}

.logo_transition {
  animation: refreshElement 1s ease-in-out;
}

@keyframes refreshElement {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@media (max-width: 420px) {
  header > article {
    height: 35vh;
  }

  article img {
    width: 50vw;
  }
}
