header > article {
  position: relative;
  height: 55vh;
  padding: 100px;
  padding-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-image: url("../img/universe.png");
  background-position: center;
  background-size: cover;

  box-shadow: 0 -10px 10px 10px black inset;
}

article > img:first-child {
  width: 30vw;
  cursor: pointer;
}

.logo_opacity_100 {
  opacity: 100%;
}

.logo_transition {
  animation: refreshElement 1s ease-in-out;
}

header > article > div {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}

#opening_marvel {
  width: fit-content;
  background-image: url("../img/marvel_opening.gif");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 0 0px 0px 30px black inset;
}
#opening_marvel img {
  width: 100vw;
  opacity: 0%;
}

@keyframes refreshElement {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@media (max-width: 420px) {
  header > article {
    height: 35vh;
  }

  article img {
    width: 50vw;
  }
  #opening_marvel {
    box-shadow: none;
  }
}
