.specificContentOuter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.specificContent {
  display: flex;
  position: absolute;
  top: 0%;
  left: 5%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: left;
  padding: 2.5%;
  transition: 0.5s ease-in-out;
}

.specificContent > * {
  margin: 0px 5px;
}

.specificContent_img_size {
  width: 333px;
  height: 500px;
}

.specificContentTitle {
  font-size: 25px;
  text-align: center;
  margin: 0px 0px 15px 0px;
}

.specificContentStar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.specificContentText {
  margin: none;
  font-size: 18px;
}

.specificContentAnchorDiv {
  display: flex;
  justify-content: space-around;
}

.specificContentSynopsys {
  font-size: 20px;
  text-indent: 20px;
  background: black;
  margin: 0;
}
.specificMainDiv {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  font-family: "Nanum Myeongjo", serif;
  line-height: 35px;
}
.specificMainTitleDiv {
  grid-row: 1/2;
  font-size: 20px;

  display: grid;
  column-gap: 3px;
  grid-template-columns: repeat(4, max-content) 1fr;
  grid-template-rows: 40px;
  /* grid-auto-flow: column; */
}
.specificMainTitleDiv .font_basic_sm {
  color: rgb(228, 228, 228);
  background-color: rgb(47, 54, 65);
  display: flex;
  justify-content: center;
  align-items: center;
}
.specificMainContentDiv {
  overflow-y: auto;
  grid-row: 2/-1;

  margin-top: 20px;
}
.removeBtn {
  position: absolute;
  display: flex;
  top: -3%;
  right: -2%;
  width: max-content;
  height: fit-content;
  padding: 3px 6px;
  background: rgb(0, 0, 0);
  border: 2px solid whitesmoke;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  animation: popUpDown 2s ease-in-out infinite;
}

.removeBtn:hover {
  background-color: rgb(99, 99, 99);
  animation: none;
}
.specificContentImgDiv {
  display: flex;
  width: min-content;
  flex-direction: column;
  align-items: center;
}

@keyframes popUpDown {
  25% {
    transform: scale(110%) translateY(-10%);
  }
  50% {
    transform: scale(100%) translateY(00%);
  }
}

@media (max-width: 420px) {
  .specificContentTitle {
    font-size: 14px;
    text-align: center;
    margin: 0px 0px 10px 0px;
  }

  .specificContentText {
    margin: none;
    align-self: center;
    font-size: 12px;
  }

  .specificMainDiv {
    display: flex;
  }
  .specificMainTitleDiv {
    margin-top: 30px;
    font-size: 16px;

    display: grid;
    width: 100%;
    row-gap: 3px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, max-content);
    /* grid-auto-flow: column; */
  }
  .specificMainTitleDiv .font_basic_sm {
    color: rgb(228, 228, 228);
    background-color: rgb(47, 54, 65);

    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;
  }
  /* .specificMainContentDiv {
    height: 100%;
    overflow-y: auto;
    grid-row: 2/-1;
  
    margin-top: 20px;
  } */

  .specificContentSynopsys {
    font-size: 14px;
    text-indent: 14px;
    background: black;
  }

  .specificContent_img_size {
    width: 100px;
    height: 150px;
  }
}
