.specificContent {
  display: flex;
  position: absolute;
  top: 0%;
  left: 5%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: left;
  padding: 2.5%;
}

.specificContent > * {
  margin: 0px 5px;
}

.specificContent_img_size {
  width: 333px;
  height: 500px;
}

.specificContentTitle {
  font-size: 22px;
  text-align: center;
}

.specificContentAnchorDiv {
  display: flex;
  justify-content: space-around;
}

.specificContentSynopsys {
  font-size: 20px;
  text-indent: 20px;
  background: black;
}

.specificContentSynopsysDiv {
  height: 100%;
  overflow-y: auto;
}
.removeBtn {
  position: absolute;
  top: -5%;
  right: 0%;
  width: max-content;
  height: fit-content;
  background: rgb(0, 0, 0);
  border: 2px solid whitesmoke;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  animation: popUpDown 2s ease-in-out infinite;
}

.removeBtn:hover {
  background-color: rgb(99, 99, 99);
}
.specificContentImgDiv {
  display: flex;
  width: min-content;
  flex-direction: column;
  align-items: center;
}

@keyframes popUpDown {
  25% {
    transform: scale(110%) translateY(-10%);
  }
  50% {
    transform: scale(100%) translateY(00%);
  }
}

@media (max-width: 420px) {
  .specificContentTitle {
    font-size: 18px;
    text-align: center;
  }

  .specificContentSynopsys {
    font-size: 16px;
    text-indent: 16px;
    background: black;
  }

  .specificContent_img_size {
    width: 100px;
    height: 150px;
  }
}
