.specificContent {
  display: flex;
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: space-between;
  padding-right: 2.5%;
}

.specificContent > * {
  margin: 0px 5px;
}
.specificContentAnchorDiv {
  display: flex;
  justify-content: space-around;
}
.specificContentSynopsysDiv {
  height: 100%;
  overflow-y: auto;
}
.removeBtn {
  position: absolute;
  top: -5%;
  right: 0%;
  width: max-content;
  height: fit-content;
  background: rgb(0, 0, 0);
  border: 2px solid whitesmoke;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.removeBtn:hover {
  background-color: rgb(99, 99, 99);
}
.specificContentImgDiv {
  display: flex;
  width: min-content;
  flex-direction: column;
  align-items: center;
}
