@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)),
    url("../img/Avengers-logo-black-background_2560x1600.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.font_basic {
  font-family: "Do Hyeon", sans-serif;
  color: wheat;
}

.phase {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.order {
  position: relative;
  display: flex;
  width: 100%;
}

.btn_changeOrder {
  padding: 0px 5px;
  border: black;
  background: none;
  transition: border-color 0.2s ease-in-out;
}

.btn_changeOrder:hover {
  cursor: pointer;
  border-bottom: 4px solid #9fa2a3;
  transform: translateY(2px);
}

.span_currentOrder {
  padding: 0px 5px;
  border: 4px solid #2e3741;
  border-radius: 5px;
  margin: 0px 5px;
}

.order_title {
  font-size: 30px;
  display: flex;
  align-items: center;
}

.moveToRight {
  transform: translateX(-100vw);
  transition: transform 1s ease-in-out;
}

.moveToLeft {
  transform: translateX(0vw);
  transition: transform 1s ease-in-out;
}

#order_launch {
}

#order_time {
  position: absolute;
  transform: translateX(100vw);
}

a:link {
  color: #95adc1;
  text-decoration: none;
}
a:visited {
  color: #95adc1;
}
a:hover {
  color: tomato;
}
