@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)),
    url("../img/Avengers-logo-black-background_2560x1600.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: fit-content;
  margin: 0;
}

.font_basic {
  font-family: "Do Hyeon", sans-serif;
  color: rgba(255, 220, 0, 0.95);
}

.font_basic_sm {
  font-family: "Do Hyeon", sans-serif;
  color: rgba(255, 220, 0, 0);
  transition: 1s ease-in-out;
}

#btn_sort:hover .font_basic_sm {
  color: rgba(255, 220, 0, 0.95);
}

.phase {
  display: flex;
  flex-direction: column;
  width: 95vw;
  border: 2px solid white;
  margin: 10px 0px 30px 5px;
  padding-left: 5px;
  transition: background-color 0.2s ease-in-out;
}

.phase:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.phase:hover h3 {
  padding: 0px 5px;
  transform: translate(-5px, -15px);
  background-color: #2e3741;
  border-radius: 5px;
}

.phase h3 {
  margin: 0px;
  margin-bottom: 10px;
  width: fit-content;
  transition: 0.2s ease-in-out;
}

.phase a {
  width: fit-content;
  text-align: center;
}

.phase div {
  display: flex;
}

.phase_movie {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.order {
  position: relative;
  display: flex;
}

.order > div {
  width: 100vw;
}

.order_title {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  box-sizing: border-box;
  height: fit-content;
  margin-bottom: 15px;
}

.order_title form {
  display: flex;
  align-items: center;
}

.input_search {
  padding: 0px 5px;
  margin: 0px 5px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-color: #2e3741;

  font-size: 20px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: fit-content;

  transition: border-color 0.2s ease-in-out;
}

.btn_changeOrder {
  padding: 0px 5px;
  margin: 0px 5px 5px 5px;
  border: 4px solid rgba(0, 0, 0, 0);
  background: none;

  font-size: 30px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 40px;

  transition: border-color 0.2s ease-in-out;
}

.btn_changeOrder_sm {
  padding: 0px 5px;
  border: 4px solid rgba(0, 0, 0, 0);
  background: none;

  font-size: 20px;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  height: 40px;

  transition: 0.2s ease-in-out;
}

.btn_changeOrder:hover,
.btn_changeOrder_sm:hover {
  cursor: pointer;
  border-bottom: 4px solid #9fa2a3;
}

.currentOrder {
  padding: 5px;
  border: 4px solid #2e3741;
  border-radius: 5px;
}

.moveToRight {
  transform: translateX(-100vw);
  transition: transform 0.5s ease-in-out;
}

.moveToLeft {
  transform: translateX(0vw);
  transition: transform 0.5s ease-in-out;
}

.order_menu {
  width: 95vw;
  height: 80vh;
  overflow-y: auto;
  padding-top: 10px;
  margin-right: 5vw;
}

.documentTitle {
  position: relative;
}

.eachFeature {
  filter: brightness(75%);
  transition: 0.2s ease-in-out;
}

.eachFeature:hover {
  filter: brightness(100%);
  transform: scale(110%) translateY(-5%);
}

.stoneName span {
  font-family: "Russo One", sans-serif;
  color: white;
  font-size: 30px;
}

h1 {
  text-shadow: 2px 2px 4px #95adc1;
}

#timeline > * {
  padding-bottom: 5px;
}

#btn_sort {
  display: flex;
}

#btn_sort:hover a {
  visibility: visible;
  background-color: rgba(46, 55, 65, 0.8);
}

#btn_sort:hover #sortMenuId a:first-child {
  transform: translate(10px, 40px);
}
#btn_sort:hover #sortMenuId a:nth-child(2) {
  transform: translate(50px, 40px);
}
#btn_sort:hover #sortMenuId a:nth-child(3) {
  transform: translate(105px, 40px);
}

#sortMenuId {
  position: relative;
  left: -100%;
  display: flex;
  align-items: center;
  z-index: 1;
}

#sortMenuId a {
  position: absolute;
  left: 0;
  width: max-content;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

#input_sort input:last-child:hover {
  cursor: pointer;
}

a:link {
  color: #95adc1;
  text-decoration: none;
}
a:visited {
  color: #95adc1;
}
.eachMovie:hover a {
  color: tomato;
  cursor: pointer;
}

@media (min-width: 300px) {
  .order {
    /* flex-direction: column; */
    width: 100vw;
    height: 80vh;
    overflow: hidden;
    position: relative;
    padding: 0;
  }
  .order > div {
    margin: 0em auto;
    width: fit-content;
    height: 100%;
    position: absolute;
    transition: 0.5s;
  }
  .order > div:nth-child(1) {
  }
  .order > div:nth-child(2) {
    transform: translateX(100vw);
  }
  #order_launch {
    height: 100%;
    width: 95%;
  }
  #order_time {
    height: 100%;
    width: 95%;
  }
}
