<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>검색결과</title>
  </head>
  <body class="font_basic">
    <header>
      <article>
        <img src="../img/MARVEL.png" />
      </article>
      <div class="order_title">
        <a href="/">
          <button class="btn_changeOrder font_basic" id="btn_launch">
            메인으로
          </button></a
        >
        <div id="btn_sort">
          <button class="btn_changeOrder font_basic currentOrder">
            검색-영화
          </button>
        </div>
      </div>
    </header>
    <main>
      <div class="order">
        <div class="order_menu" id="order_sort">
          <div class="phase">
            <div class="phase_header">
              <h3>검색 결과</h3>
              <h4>뒤로 가기</h4>
            </div>
            <div class="phase_movie">{{word}} {{synopsys}}</div>
          </div>
        </div>
      </div>
    </main>
  </body>

  <script src="js/basic.js"></script>
  <script src="js/movies.js"></script>
  <script src="js/sort.js"></script>
</html>
